.dice-faces-list-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
    position: absolute;
    left: 55%;
    transform: translateX(-25%);
    width: 100%;
}

.dice-faces-wrapper {
    padding: 0;
}

.face {
    position: absolute;
}