@font-face {
  font-family: 'Press Start 2P';
  src: url('assets/fonts/PressStart2P-Regular.ttf') format('opentype'),
  url('assets/fonts/PressStart2P-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #2d528b;
}
